/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #212121;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 5px solid #212121;
}

header .face {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Table Styles */
table {
    width: 90%;
    margin: 20px auto;
    margin-top: 0;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #212121;
    color: white;
    max-width: 10px;
}

th{
    
    max-width: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

/* Form Styles */
form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

form label {
    margin-right: 10px;
    font-weight: bold;
}

form select, form button {
    margin: 0 5px;
    padding: 5px;
    font-size: 14px;
}

form .Buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

form .bloc {
    margin: 0 5px;
}



.container {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px; /* Adjust as needed */
    width: 90%;
    margin-bottom: 20px;
}


.img{
    
    width: 90%;
}

.imgc{
    display: flex;
    justify-content: center;
    align-items: center;

}

#pricei{
    max-width: 80px;
}




/* Responsive Design */
@media (max-width: 768px) {
    table {
        width: 90%;
    }

    header .face {
        flex-direction: column;
    }

    header img.logo {
        margin-bottom: 10px;
    }

    .container{
        max-width: 400px;
    }
}
