




body {

    font-family: "Parkinsans", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;


}


header {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 0;
    padding: 0;

}


.face {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    font-weight: bold;
}


.logo {
    width: 90px;
    border-radius: 50px;
    margin-block: 8px;
}

.name {
    margin-left: 8px;
    color: white;


}

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    font-weight: bold;
    font-size: 18px;

}

.contactus {


    padding-block: 7px;
    padding-inline: 5px;
    color: white;

    margin-right: 15px;

}

.contactus:link {
    text-decoration: none
}

.contactus:hover {

    color: orangered;

}

.login {

    padding-block: 7px;
    padding-inline: 5px;
    color: white;


}


.login:link {
    text-decoration: none
}

.login:hover {

    color: orangered;

}

.all{
    display: flex;
    
    
    
}






.second{
    margin-left: 200px;
}



.label{
    border: 1px;
    font-size: 35px;
    
    text-align: center;
}





.slide{

    height: 100%;
    width: 250px;
    position:absolute;
    background-color: #fff;
    margin-top: -100px;

    margin: 0;
    padding: 0;
    
}


.slide h1{
    color: #8000ff;
    font-weight: 800;
    text-align: center;
    pointer-events: none;
   
}

.slide ul{
    list-style: none;
}

.slide ul li a{
    color: #011a41;
    font-weight: 500;
    padding-block: 8px;
    display: block;
    text-decoration: none;
    transition:  ease 0.3s;
    position: relative;
    
    margin-left: -30px;
    
}

.slide ul li a:hover{
   
    color: orangered;
    font-weight: 700;
}





.slide ul li a i{
    width: 40px;
    text-align: center;
}



form {
    border: 1px solid red;
    max-width: 600px;
    
    min-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#companyFields {
    display: none;
}






.side{
    display: none;
    visibility: hidden;
    

}









.container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    max-width: 100%;
    background: #f2f2f2;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 250px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#company-fields {
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(4, 192, 36);
}
















































@media only screen and (max-width: 660px) {



    .container{
        margin-left: 0px;
    }


    .slide{
        height: 100%;
        width: 250px;
        position: absolute;
        background-color: #fff;
        transition: 0.5s ease;
        transform: translateX(-250px);
        margin: 0;
        padding: 0;
        
    }
    
    
    .slide h1{
        color: #8000ff;
        font-weight: 800;
        text-align: center;
        pointer-events: none;
       
    }
    
    .slide ul{
        list-style: none;
    }
    
    .slide ul li a{
        color: #011a41;
        font-weight: 500;
        padding-block: 8px;
        display: block;
        text-decoration: none;
        transition:  ease 0.3s;
        position: relative;
        
        margin-left: -30px;
        
    }
    
    .slide ul li a:hover{
       
        color: orangered;
        font-weight: 700;
    }
    
    
    
    
    
    .slide ul li a i{
        width: 40px;
        text-align: center;
    }
    


    .side{
        display: none;
        visibility: hidden;
        
    
    }
    

    
    .toggle{
        position: absolute;
        height: 31px;
        width: 31px;
        margin-top: 26px;
        margin-left: 15px;
        z-index: 1;
        cursor : pointer;
        background-image: url(/Stockify/Front-end/images/sidebar.png);
        background-size: cover;
        box-shadow: 0 0 10PX rgba(0, 0, 0, 0.2);
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    input[type="checkbox"]:checked ~ .toggle {
        background-image: url(/Stockify/Front-end/images/X.png);
    }
    
    input[type="checkbox"]:checked ~ .slide {
        transform: translateX(0);
    }



}











@media only screen and (max-width: 600px) {



    .slide{
        height: 100%;
        width: 250px;
        position: absolute;
        background-color: #fff;
        transition: 0.5s ease;
        transform: translateX(-250px);
        margin: 0;
        padding: 0;
        
    }
    
    
    .slide h1{
        color: #8000ff;
        font-weight: 800;
        text-align: center;
        pointer-events: none;
       
    }
    
    .slide ul{
        list-style: none;
    }
    
    .slide ul li a{
        color: #011a41;
        font-weight: 500;
        padding-block: 8px;
        display: block;
        text-decoration: none;
        transition:  ease 0.3s;
        position: relative;
        
        margin-left: -30px;
        
    }
    
    .slide ul li a:hover{
       
        color: orangered;
        font-weight: 700;
    }
    
    
    
    
    
    .slide ul li a i{
        width: 40px;
        text-align: center;
    }
    


    .side{
        display: none;
        visibility: hidden;
        
    
    }
    

    
    .toggle{
        position: absolute;
        height: 31px;
        width: 31px;
        margin-top: 26px;
        margin-left: 15px;
        z-index: 1;
        cursor : pointer;
        background-image: url(/Stockify/Front-end/images/sidebar.png);
        background-size: cover;
        box-shadow: 0 0 10PX rgba(0, 0, 0, 0.2);
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    input[type="checkbox"]:checked ~ .toggle {
        background-image: url(/Stockify/Front-end/images/X.png);
    }
    
    input[type="checkbox"]:checked ~ .slide {
        transform: translateX(0);
    }
    




    .second{
        border: 1px solid black;
        margin-left: 10px;
    }
    
    
    







    












































    .name{
        font-size: 10px;
      
        
    }

    .face{
    
        display: flex;
        justify-content: center;
        
    }

    .logo {
        width: 40%; 
      
        padding: 0px;
        margin-right: 0px;
    }

    .nav{
        font-size: 15px;
        margin-left: 50px;
  

    }


    .contactus {



        width: 85px;
        color: white;
        margin-right: 10px;
    
    }




}