




body {

    font-family: "Parkinsans", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;


}


header {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

}


.face {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    font-weight: bold;
}


.logo {
    width: 90px;
    border-radius: 50px;
    margin-block: 8px;
}

.name {
    margin-left: 8px;
    color: white;


}

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    font-weight: bold;
    font-size: 18px;

}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
}




h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Vbutton{
    margin-bottom: 20px;
    width: 200px;

}

button{
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:not(.X){
    background-color: #28a745;
}

button:not(.X):hover {
    background-color: #218838;
}

.X{
    background-color: #ff0505;
}

.X:hover{
    background-color: #e20808;
}



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1ps solid red;

}

table {
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #212121;
    color: white;
}

td, th {
    /*border-radius: 5px;*/
    padding: 10px;
    text-align: center;
    /*border: 1px solid #ddd;*/
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="file"] {
    border: none;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    input, select {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 6px;
    }

    input, select {
        font-size: 12px;
    }

    button {
        width: 100%;
    }
}
