/* General Body Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.face {
    display: flex;
    align-items: center;
}

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    font-weight: bold;
    font-size: 18px;
}

header a{
    padding-block: 7px;
    padding-inline: 5px;
    color: white;
}

header a:link{
    text-decoration: none;
}
.logo {
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    color: white;
    text-decoration: none;
}

.name h1 {
    font-size: 1.5rem;
    margin: 0;
}

/* Title */
h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

/* Buttons Section */
.Buttons .bloc a {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #212121;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Buttons .bloc a:hover {
    background-color: orangered;
}

/* Form Styles */
form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
}

form label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

form select, form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: all 0.3s;
}

form select:focus, form button:hover {
    outline: none;
    border-color: orangered;
}

form button {
    background-color: #212121;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: orangered;
}

/* Table Styles */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #212121;
    color: white;
}

thead th {
    padding: 15px;
    text-align: center;
}

tbody tr {
    transition: background-color 0.3s;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody td:last-child {
    display: flex;
    justify-content: center;
    gap: 10px;
}

tbody button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #212121;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

tbody button:hover {
    background-color: orangered;
}
